.headertop {
   background-color: #b5c496;
   position: sticky;

   top: 0%;
   width: 100%;

   .recipes-button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 80px;
      margin: 0 15px;
      .sort-options {
         display: flex;
         gap: 10px;
      }
      .pagination {
         display: flex;
         gap: 5px;
         align-items: center;
      }
   }
}

.recipes-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   .recipe {
      min-height: 480px;
      width: 262px;
      margin: 20px;
      background-color: #e1e4d1da;
      text-align: justify;
      padding: 0 15px;
      border-radius: 10px;
      cursor: pointer;

      .image-container {
         margin: 15px 0;
         text-align: center;
         .image {
            border-radius: 16px;
         }
      }
   }
   .recipe:hover {
      border: 2px solid #84a365;
      transition: border ease 1s;
   }
}

.error-message {
   margin-left: 10px;
}
