.headertop {
   background-color: rgba(221, 190, 50, 0.658);
   position: fixed;
   top: 0%;
   width: 100%;
}

.recipes-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   .recipe {
      height: auto;
      width: 200px;
      margin: 20px;
      background: rgba(255, 158, 31, 0.377);
      text-align: center;

      border-radius: 10px;
   }
}
.active {
   background: red;
}
