.landing-page {
   position: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(../../image/bienvenida.png);
   text-align: center;
   width: 100%;
   height: 100%;
   background-position: center center;
}
