.button-primary {
   border-radius: 8px;
   height: 30px;
   border: 1px solid #b7cd7f;
   background-color: #778c43;
   color: white;
   font-weight: 600;
   cursor: pointer;
}

.button-primary:hover {
   opacity: 0.8;
   transition: opacity ease 0.2s;
}

.button-warning {
   border-radius: 8px;
   height: 30px;
   border: 1px solid #012108;
   background-color: #3c4d03;
   color: white;
   font-weight: 600;
   cursor: pointer;
   min-width: 15px;
}

.button-warning:hover {
   opacity: 0.8;
   transition: opacity ease 0.2s;
}

.clean-button {
   border-radius: 8px;
   height: 30px;
   border: 1px solid #cecfce;
   background-color: #e1e4e1;
   color: black;
   font-weight: 600;
   cursor: pointer;
   min-width: 40px;
}

.clean-button:hover {
   opacity: 0.8;
   transition: opacity ease 0.2s;
}
