.form-all form {
   margin-top: 150px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form-all {
   height: auto;
   width: 200px;
   margin: auto;
   background: rgba(255, 158, 31, 0.596);
   text-align: center;

   border-radius: 10px;
}
.form-error {
   color: rgb(196, 10, 10);
}
