.detail-new {
   height: auto;
   width: 90%;
   margin: 20px auto;
   background: #b5c49683;
   border-radius: 10px;
   padding: 20px;
   text-align: justify;
   .detail-close {
      text-align: right;
   }
   .detail-description {
      font-size: 16px;
      font-weight: 400px;
   }
   .image-detail-container {
      text-align: center;
      .image-detail {
         border-radius: 16px;
      }
   }
}
